.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    .item{
        width:48%;
    }
}

.no-more{
    padding:20px 0;
    display: flex;
    justify-content: center;
    color:lightgray;
}